<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.robert.android.lostpets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--suppress SyntaxError -->
    <application
        android:name=".LostPetsApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <activity
            android:name=".presentation.ui.activities.LogInActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/LostPetsTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/LostPetsTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".presentation.ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LostPetsTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.activities.AdDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LostPetsTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.activities.ChatDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".network.message.MessagingService"
            android:enabled="true"
            android:label="@string/message_service_name" />
    </application>

</manifest>